params {
  // Inputs
  input  = null         // samplesheet CSV
  reads  = null         // glob for quick mode
  outdir = "${projectDir}/results"

  // Packaging strategy: 'conda' or 'apptainer'
  packaging = null

  // Apptainer SIF locations for TRE
  fastqc_sif  = null
  multiqc_sif = null

  // Behaviour
  publish_dir_mode = 'copy'
  skip_fastqc   = false
  skip_multiqc  = false
  multiqc_config = null

  // Resource caps
  max_cpus   = 8
  max_memory = '32 GB'
  max_time   = '24h'

  // Methods
  methods_description = "${projectDir}/assets/methods_description_template.yml"
}

// Base defaults
includeConfig 'conf/base.config'

profiles {
  test {
    process.executor = 'local'
  }
  debug {
    dumpHashes = true
    cleanup    = false
  }
  slurm {
    process.executor = 'slurm'
  }
  apptainer {
    params.packaging = 'apptainer'
    singularity.enabled = true
    docker.enabled      = false
    conda.enabled       = false
  }
  conda {
    params.packaging = 'conda'
    conda.enabled = true
    conda.useMamba = true
    conda.cacheDir = "${projectDir}/.conda-cache"
  }
}

plugins {
  id 'nf-schema'
}
