profiles {
    docker {
        docker.enabled = true
        singularity.enabled = false
        podman.enabled = false
    }
    
    singularity {
        docker.enabled = false
        singularity.enabled = true
        podman.enabled = false
    }
}

params {
    modules_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/'
    outdir = "results"
    publish_dir_mode = "copy"
    skip_fastqc = false
}

process {
    cpus = 1
    memory = '1 GB'
    time = '2h'
}
